@model IEnumerable<MovieData.Models.Movieentity>
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>searchname</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.moviename)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.movieyear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.moviecategory1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.moviecategory2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.movielanguage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.movierating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.movielead1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.movielead2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.moviedescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.movieduration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.moviebudget)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.videotrailer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageData)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.moviename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.movieyear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.moviecategory1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.moviecategory2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.movielanguage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.movierating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.movielead1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.movielead2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.moviedescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.movieduration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.moviebudget)
                    </td>
                    <td>
                        <iframe width="420" height="345" src=@item.videotrailer>
                        </iframe>
                    </td>
                    <td>
                        <img src="@item.ImageData" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.movieid">Edit</a> |
                        <a asp-controller="Movie" asp-action="Details" asp-route-movieid="@item.movieid">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.movieid">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
